extends layout

block content
    script(type='text/javascript')
        setActive('#tab_report');
    div(class='container-fluid')
        div(class='row-fluid')
            div(class='span9')
                - var now_tmp = new Date();
                - var now_date = '' + now_tmp.getFullYear() + '-' + (now_tmp.getMonth() + 1) + '-' + now_tmp.getDate();
                h3 库存变化 #{now_date}
                table(class='table table-bordered table-hover')
                    thead
                        tr
                            td 更改人
                            td 更改时间
                            td 商品名称
                            td 款式名称
                            td 年龄段
                            td 库存变化
                    tbody
                        - for (var i = 0; i < change_logs.length; ++i)
                            - var cl = change_logs[i];
                            tr
                                td #{cl.display_name}
                                td #{cl.changed_at}
                                td #{cl.name}
                                td #{cl.model_name}
                                td #{cl.age}
                                td #{cl.delta}




